  html,
  body {
      margin:0;
      padding:0;
      height:100%;
      background-color:antiquewhite;
  }
  #container {
      min-height:100%;
      position:relative;
  }
  #header {
      background: sienna;
      color: seashell;
      padding:10px;
      font-size: 3vw;
      text-align: center;
      font-style: oblique;
  }
  #body {
      padding:10px;
      padding-bottom:60px;   /* Height of the footer */
  }
  #quotes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /*font-weight: bold;*/
  }
  
  #quotes td, #quotes th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .col_1 {
    width: 70%;
    font-size: medium;
    color: rgb(82, 4, 4);
    font-family:  Baskerville,'Hoefler Text',Garamond,'Times New Roman',serif;
  }
  .col_2 {
    width: 20%;
    font-style: italic;
    font-size: small;
  }
  .col_3 {
    width: 10%;
  }

  #quotes tr:nth-child(even){background-color: #f2f2f2;}
  
  #quotes tr:hover {background-color: #ddd;}
  
  #quotes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: large;
    background-color: rgb(90, 70, 70);
    color: seashell;
  }

  #footer {
      position:absolute;
      bottom:0;
      width:100%;
      height:60px;   /* Height of the footer */
      background: peru;
      color: darkred;
      font-size: 3vw;
      text-align: center;
  }