  html,
  body {
      margin:0;
      padding:0;
      height:100%;
      background-color:antiquewhite;
  }
  #container {
      min-height:100%;
      position:relative;
  }
  #header {
      display: flex;
      justify-content: center;
      background: sienna;
      color: seashell;
      padding:10px;
      font-size: 3vw;
      text-align: center;
      font-style: oblique;
  }
  #header-text {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  #btn-add-quote {
    align-self: center;
    font-weight: bold;
    height: 3vw;
    font-size: 1vw;
    background: rgb(223, 152, 120);
    color:white;
    border-radius: 10px;
    text-shadow: 2px 2px 2px brown;
  }

  .edit-data-element{
    display: none;
  }

  #edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 200ms ease-in-out;
    border: 3px solid rgba(165, 42, 42, 0.746);
    box-shadow: 2px 2px 2px 2px darkgoldenrod;
    border-radius: 10px;
    z-index: 10;
    background: rgba(243, 212, 197, 0.65);
    width: 60%;
    max-width: 80%;
    height: 20%;
    max-height: 20%;
    display: grid;
    padding: 10px;
    grid-template-columns: 10% 75% 15%;
    grid-row-gap: 10px;
    grid-template-rows: max-content;
  }

  .modal-inactive{
    transform: translate(-50%, -50%) scale(0);
  }

  .modal-active{
    transform: translate(-50%, -50%) scale(1);
  }

  #edit-value-quote-cont{
    height: 90%;
    max-height: 90%;
    min-height: 90%;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
  }

  #edit-value-quote{
    width: 99%;
    height: 99%;
    min-height: 99%;
    max-height: 99%;
    min-width: 99%;
    max-width: 99%;
    border: 1px solid grey;
    background-color:whitesmoke;
    font-size: medium;
    font-style: italic;
    color: rgb(82, 4, 4);
    font-family:  Baskerville,'Hoefler Text',Garamond,'Times New Roman',serif;
    resize: both;
    overflow: scroll;
  }
  
  .edit-label{
    text-align: center;
    font-size: medium;
    font-style: italic;
    color: rgb(82, 4, 4);
    font-family:  Baskerville,'Hoefler Text',Garamond,'Times New Roman',serif;
  }

  .edit-btn{
    align-self: flex-end;
    font-weight: bold;
    font-size: 0.85vw;
    background: rgba(246, 197, 175, 0.87);
    border-radius: 10px;
  }

  .btn-edit{
    margin: 0 5% 0 5%;
    resize: both;
    font-weight: bold;
    color: rgb(66, 66, 233);
  }

  .btn-delete{
    margin: 0 5% 0 5%;
    resize: both;
    font-weight: bold;
    color: rgb(226, 68, 68);
  }

  #edit-value-author {
    width: 30%;
  }

  #body {
      padding:10px;
      padding-bottom:60px;   /* Height of the footer */
  }
  #quotes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /*font-weight: bold;*/
  }
  
  #quotes td, #quotes th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .col_0 {
    display: none;
  }
  .col_1 {
    width: 70%;
    font-size: medium;
    font-style: italic;
    text-align: center;
    color: rgb(82, 4, 4);
    font-family:  Baskerville,'Hoefler Text',Garamond,'Times New Roman',serif;
  }
  .col_2 {
    width: 20%;
    font-style: normal;
    font-size: small;
    font-weight: bold;
  }
  .col_3 {
    width: 10%;
  }

  #quotes tr:nth-child(even){background-color: #f2f2f2;}
  
  #quotes tr:hover {
    background-color: rgb(248, 228, 228);
  }
  
  #quotes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: large;
    background-color: rgb(90, 70, 70);
    color: seashell;
  }

  #footer {
      position:absolute;
      bottom:0;
      width:100%;
      height:60px;   /* Height of the footer */
      background: sienna;
      color: seashell;
      font-size: 3vw;
      text-align: center;
  }